body{
    font-family: 'Roboto', sans-serif !important;
}
.customRadio input[type="radio"] {
    position: absolute;
    left: -9999px
}
*, ::after, ::before { 
    box-sizing: border-box;
}
.gender{
    margin: .12em;
    margin-bottom: .5em;
}
.row {
    display: inline-block;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    flex-wrap: wrap;
    font-weight: bold;
}
.customRadio input[type="radio"]+label {
    position: relative;
    padding: 0px 0 0 25px;
    cursor: pointer;
    margin-right: 60px;
}

.customRadio input[type="radio"]+label:before {
    content: '';
    background: #fff;
    border: 2px solid rgb(23, 43, 224);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0
}

.customRadio input[type="radio"]+label:after {
    content: '';
    background: rgb(23, 43, 224);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    opacity: 0;
    transform: scale(1);
    transition: transform 0.3s linear, opacity 0.3s linear
}

.customRadio input[type="radio"]:checked+label:after {
    opacity: 1;
    transform: scale(1)
}
.customRadio input[type="radio"]:hover+label:after {
    opacity: 1;
    transform: scale(1)
}